@import '../../../magaele/core/core/variables';
@import '../../../magaele/core/core/mixins';

.flight_taiwan{
    ::placeholder { color: #999 !important; }
    .st_rcln {
        .ic_rcln {
            color:#999;
        }
        .dropdown-place-holder{
            border:solid 1px #bbb;
            font-size: 16px;
            color:#0077b3;
            .dropdown-label{
                font-weight: normal;
                font-size: 14px;
                color:#222;
            }

        }
    }
    .ic_rcln {
        cursor: pointer;
    }
    .icon .ic_rcln {
        font-size: 20px;
        padding-left: 5px;
        color: #999;
    }
    .int_rcln{
        &.icon{
            >i{
                left: 0;
            }
        }
    }
    .int_rcln_label{
        color:#222;
    }
    .int_rcln_input{
        color:#0077b3;
        font-weight: bold;
        border:none;
        &::-webkit-input-placeholder{
            color:#0077b3;
        }
    }
    .calendar_compose{
        .int_rcln.breakline.icon{
            padding: 5px 0;
        }
        .content{
            padding-top: 35px;
            .close_btn{
                font-size:24px;
                padding: 0 8px;
                right: 0;
                top: 0;
            }
        }
        .ic_rcln {
            cursor: pointer;
        }
    }
    .bor-right{
        .int_rcln_input{
          //  border-right: 1px solid #bbb;
        }
    }
    .aroundInput{
        display: flex;
        border:none;
        .int_rcln{
            &.breakline.icon{
                padding: 0;
                border:solid 1px #bbb;
            }
            &.breakline{
                border:solid 1px #bbb;
                border-left:none;
            }
            .int_rcln_input{
                font-weight: normal;
                position: relative;
                background-color: transparent;
                padding-top: 25px;
            }
            .int_rcln_label{
                font-size: 14px;
            }
            &:first-child{
                .int_rcln_input{
                    padding-left: 38px !important;
                }
                .int_rcln_label{
                    left: 37px ;
                }
            }
        }

        .clearBtn{
            display: none;
            @media (min-width: $screen-desktop) {
                display: block;
            }
        }
    }
    .footer{
        margin-top: 13px;
        display: flex;
        justify-content: space-between;
        .footerInfo{
            color:#24a07d;
            line-height: 1.43;
            a{
                color:#24a07d;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        & + button {
            margin-top: 0;
        }
    }
    &.mobile {
        .footer {
            & + button {
                margin-top: 30px;
            }
        }
    }

    .Rtow{
        flex: 0 0 30%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #b0b0b0;
        background-color: transparent;
        border-right: none;
        font-size: 16px;
        li{
            cursor: pointer;
            width: auto;
            color: #888;
            font-weight: 700;
            display: inline-block;
            border-bottom: 2px solid transparent;
            margin: 0 10px -1px 0;
            text-align: center;
            padding: 0 8px 7px;
            font-size: 14px;
            line-height: 1;
            &.active{
                color: #e10500;
                border-color: #e10500;
                background-color: transparent;
                width: auto;
            }
        }
    }
    .pos-bottom{
        bottom:0;
    }
}

// mobile 月曆不需要共五天
.cy_rcln {
    .confirm_btn {
        span {
            display: none;
        }
    }
}

