$classname: 'SingleInputMenu';
$blue: #0077b3;
.#{$classname}.flights {
    &.flights-m {
        padding-top: 125px;
        height: 100%;
        &.dischange {
            padding-top: 0;
        }
        .SingleInputMenu_header-wrap {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 125px;
            background-color: #fff;
            z-index: 1;
        }
        .SingleInputMenu_dtm-wrap {
            touch-action: manipulation;
            height: 100%;
            overflow-y: auto;
            background-color: #fff;
        }
    }
    .dtm_rcfr {
        position: relative;
        &-row {
            display: flex;
        }
        &-wrap {
            display: none;
            position: absolute;
            // top: 100%;
            // left: -1px;
            // width: 690px;
            padding: 16px 14px 0;
            background-color: #fff;
            z-index: 11;
            border: 1px solid #ddd;
            &.open {
                display: block;
            }
        }
        &-label {
            margin: 0 0 12px;
            font-size: 14px;
            color: #24a07d;
        }
        &-close_btn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 16px;
            cursor: pointer;
            svg {
                width: 16px;
                height: 16px;
            }
        } // 選取的 select 區塊
        &-selected-wrap {
            white-space: nowrap;
        }
        &-selected {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 107px;
            line-height: 1.3;
            margin: 0 4px 0 0;
            padding-left: 4px;
            font-size: 16px;
            font-weight: bold;
            color: #0077b3;
            background-color: #eaeaea;
            cursor: pointer;
            &:last-of-type {
                margin: 0;
            }
            span {
                width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
            }
            svg {
                width: 6px;
                height: 6px;
                fill: #999;
            }
        }
    }
    .act_racp {
        left: 0;
        min-width: 100%;
    }
    .int_rctg .dtm_rcfr {
        width: auto;
        height: auto;
    }
    // [產品名/關鍵字] input 樣式調整
    .int_rcln {
        height: auto;
        &_input {
            border: none;
            padding: 0;
            // font-weight: bold;
            color: $blue;
        }
    }
    .int_rctg {
        padding-right: 0;
        .int_rcln_input {
            flex: 0 0 auto;
        }
    }
    // 機票 dtm 樣式
    &.flights {
        .dtm_rcfr {
            .sec_title {
                display: none;
            }
        }
        // 機票 出發地 目的地 M 版
        &-m {
            // [目的地] 快速選單
            .dtm_rcfr {
                position: relative;
                width: auto;
                &-row {
                    display: flex;
                    margin: 0 15px;
                    .int_rcln_input {
                        border: none;
                    }
                    .bt_rcnb {
                        margin-left: 10px;
                    }
                }
                &-input-wrap {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0 10px;
                    border: 2px solid #ff8b88;
                }
                &-wrap {
                    display: none;
                    position: static;
                    width: 100%;
                    height: calc(100vh - 130px);
                    padding: 0;
                    overflow: auto;
                    border: 0;
                    background-color: #fff;
                    &.open {
                        display: block;
                    }
                }
                &-label {
                    margin: 8px 0 10px 25px;
                    font-size: 14px;
                    color: #24a07d;
                }
                &-close_btn {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 10px;
                    cursor: pointer;
                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
                // 選取的 select 區塊
                &-selected-wrap {
                    white-space: nowrap;
                }
                // 選取的 select item
                &-selected {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 72/360*100vw;
                    line-height: 1;
                    margin: 0 4px 0 0;
                    padding-left: 4px;
                    font-size: 16px;
                    font-weight: bold;
                    color: $blue;
                    background-color: #eaeaea;
                    cursor: pointer;
                    min-width: calc(100%/3);
                    &:last-of-type {
                        margin: 0;
                    }
                    span {
                        width: 80px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    i {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        height: 20px;
                    }
                    svg {
                        width: 6px;
                        height: 6px;
                        fill: #999;
                    }
                }
                .panel {
                    &:last-child {
                        .sec_content > .item {
                            width: 33%;
                        }
                    }
                }
                .cr_rcln > span {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    vertical-align: text-bottom;
                }
                .tabs {
                    padding-top: 0px;
                }
            }
            // [目的地] 補字選單
            .act_racp {
                box-shadow: none;
                outline: none;
                left: 0;
                min-width: 100%;
                height: calc(100vh - 130px);
                max-height: 100%;
                margin-top: 40px;
                &-future {
                    & .m-place .close,
                    & .noMatchText .close {
                        display: none;
                    }
                    .noMatchText {
                        color: #999;
                        padding: 0;
                    }
                }
                .section {
                    max-width: 100%;
                }
            }
            &.dischange {
                .act_racp {
                    margin: 10px;
                }
            }
        }
    }
}
