@import '../../../../magaele/core/core/variables';
@import '../../../../magaele/core/core/mixins';

$className: 'flight_international_pc';

$input-color: #0077b3;

.int_rcln .int_rcln_input:not(input):empty::before {
    color: #999;
}

.#{$className} {
    .Rtow {
        flex: 0 0 30%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #b0b0b0;
        background-color: transparent;
        border-right: none;
        font-size: 16px;

        li {
            cursor: pointer;
            width: auto;
            color: #888;
            font-weight: 700;
            display: inline-block;
            border-bottom: 2px solid transparent;
            margin: 0 10px -1px 0;
            text-align: center;
            line-height: 1;
            padding: 0 8px 7px;
            font-size: 14px;

            &.active {
                color: #e10500;
                border-color: #e10500;
                background-color: transparent;
                width: auto;
            }
        }
    }

    .ic_rcln {
        cursor: pointer;
    }
    .int_rcln_label {
        color:#222;
        cursor: pointer;
    }

    .dropdown-label.breakline {
        font-weight: normal;
    }

    .cr_rcln {
        z-index: 1;

        &:nth-of-type(2) {
            margin-left: 20px;
        }
        .indicator{
            border:solid 1px #bbb;
        }
        input:focus + .indicator {
            border-color: #bbb;
        }
    }

    .panel {
        .toolif {
            color: #24a07d;
            margin-right: 3px;
        }

        .txt-toolif {
            color: #24a07d;
            margin-bottom: 5px;
        }
    }

    .openMoreOptions {
        overflow: inherit;
    }

    .ZeroOneRtowStyle {
        > * {
            margin-top: 10px;
        }

        margin-bottom: 10px;
        .SingleInputMenu .int_rctg {
            background-color: transparent;
        }
    }

    .ThreeRtowStyle {
        display: flex;
        margin-top: 10px;
        width: 100%;
        .ItemStyle {
            width: calc(100% - 175px);
            > * {
                &:last-child {
                    width: 170px;
                }
            }
        }
        .single-change {
            flex: 1;
        }
        .peopleCabinStyle {
            width: 175px;
        }
    }

    .OneTwoRtowStyle {
        margin-bottom: 10px;
    }

    .int-col {
        input {
            border: none;
            border-radius: 0;
            outline: none;
            background: transparent;
            padding: 0;
            height: 100%;
            font-size: 16px;
            width: 100%;
            color: $input-color;
        }
    }

    .AppendContainer {
        margin-top: 10px;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }

        .AppendItemStyle {
            float: left;
            display: flex;
            align-items: center;
            width: calc(100% - 175px);
            margin-bottom: 10px;

            &:nth-child(n + 2) {
                width: calc(100% - 175px + 42px);
            }

            .ItemStyle {
                flex: 1;
                .single-change {
                    flex: 1;
                }
                > * {
                    &:last-child {
                        width: 170px;
                    }
                }
            }
            .minus-items {
                margin: 0;
                min-width: 32px;
                height: 32px;
                border-radius: 3px;
                padding: 0;
                background-color: #fff;
                border: 1px solid #ddd;
                margin-right: 10px;
                color: #666;
            }
        }

        // 增加按鈕
        .mulitAdd {
            min-width: 32px;
            min-height: 32px;
            border-radius: 3px;
            float: left;
            padding: 0;
            background-color: #ff615d;
            margin-top: 9px;
        }
    }

    .ItemStyle {
        display: flex;
        > * {
            margin-right: 10px;
        }
    }

    .single-change {
        border: solid 1px #bbb;
        ::placeholder {
                color: #999;
                opacity: 1; /* Firefox */
                font-weight:normal ;
              }


        .SingleInputMenu {
            &.flights {
                width: 50%;
                .int_rctg {
                    border: none;
                    background-color: transparent;
                    box-sizing: border-box;
                    * {
                        cursor: pointer;
                    }
                    .act_racp {
                        width: 100%;
                    }

                    .act_racp-future {
                        padding: 0 10px 5px 16px;
                        min-width: 368px;
                        .section {
                            width: 100%;
                        }

                        .noMatchText {
                            padding: 12px 30px 7px 10px;
                        }
                    }
                }
            }

            .dtm_rcfr-row {
                // outline: 1px solid red;
            }

            .dtm_rcfr-close_btn {
                padding: 10px;
                padding-right: 15px;
                >svg{
                    fill: #444;
                }
            }

            .dtm_rcfr-wrap {
                width: 657px;
                padding: 10px 15px 0;
            }

            .dtm_rcfr-label {
                margin: 0 0 8px;
            }
        }

        // > * {
        //     &:first-child {
        //         border: 1px solid #ddd;
        //         border-right: none;
        //     }

        //     &:last-child {
        //         border: 1px solid #ddd;
        //         border-left: none;
        //     }
        // }

        .changeBtn {
            margin: 0;
            width: 25px;
            height: 50px;
            background-size: 13px;
            opacity: 0.5;
        }
    }

    .int_rcln.breakline > .int_rcln_label {
        top: 6px;
    }

    .calendarStyle {
        display: flex;
        position: absolute;
        z-index: 2;
        margin-top: -1px;
        border: 1px solid #e3e3e3;
        padding: 40px 10px 10px;
        width: 595px;
        background: #fff;

        .close_btn {
            color:#444;
            position: absolute;
            top: -39px;
            right: -3px;
            cursor: pointer;
            font-size: 27px;
            font-weight: bold;
        }
    }

    .calendarStyleIn {
        position: relative;
    }

    .st_rnls {
        .int_rcln_input {
            padding-top: 21px;
            color: $input-color;
            border: solid 1px #bbb;

        }
    }

    .int_rctg {
         border: solid 1px #bbb;
        * {
            cursor: pointer;
        }
        .int-col {
            padding: 0 5px;

            .int-label {
                color:#222;
                margin-bottom: 3px;
            }
        }
        .int_rcln_input {
            font-weight:normal;
            width: calc(100% - 32px);
            //這是出發地的 class
        }
    }

    .checkBoxMagin {
        margin-left: 22px;
    }
    .filterTransfer .int_rctg {
        border: none;
    }

    .openMoreOptions {
        margin-top: 7px;

        .clp_rcdp_title_text {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &.MoreOptionThreeRtow {
            .clp_rcdp_content {
                margin-bottom: 60px;
                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }
                align-items: center;
                > * {
                    float: left;
                }
                .searchMoreTop {
                    width: 50%;
                    .filterTransfer {
                        flex: 1;
                        .act_racp-future{
                            min-width: 370px;
                        }
                    }
                }
                .checkBoxMagin {
                    margin-top: 16px;
                    margin-left: 12px;
                }
            }
        }
        .filterTransfer {
            .int-tags-single{
                >input{

                    padding-right: 20px;
                }
            }
            .act_racp-future{
                padding: 0;
                min-width: 370px;
                .section {
                    .title{
                        margin-top:-19px;
                        padding: 0;
                    }

                }

            }
        }
        // 更多搜尋選項
        .clp_rcdp_content {
            background-color: #f1f1f1;
            padding: 10px;
            width: 370px;
            margin-bottom: 60px;
            .searchMoreTop {
                display: flex;

                .dropdown-place-holder {
                    &.breakline {
                        border:solid 1px #bbb;
                        padding: 7px 5px;
                        font-weight: normal;
                        span {
                            color: #222;
                            margin-bottom: 3px;
                        }
                    }
                }

                > * {
                    flex: 1;
                    margin-right: 11px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .checkBoxMagin {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }

    // 雙月曆樣式
    .doubleCanlendarStyle {
        display: flex;

        // border: 1px solid #ddd;
        .int_rctg {
            border: solid 1px #bbb;
            &:first-child {
                border-right: none;
            }

            &:last-child {
                border-left: none;

                .int-col {
                    border-left: 1px solid #e3e3e3;
                }
            }
        }
    }

    // 送出按鈕
    .submitBtn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 50px;
        border-radius: 5px;
        float: right;
    }

    .int-tags-single {
        position: relative;
        height: auto;
        .clearBtn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 14px;
            height: 14px;
            background-color: #999999;
            border-radius: 50%;

            &:before {
                content: '';
                width: 60%;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                width: 60%;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                transform: rotate(-45deg);
            }
        }
    }

    .ntb_rcln {
        > .ctns > .panel.active {
            padding: 0;
        }
    }

    .dtm_rcfr {
        .sec {
            padding: 0;
        }

        .item {
            width: 49%;
            margin-right: 1%;
        }
    }

    .ntb_rcln {
        &.one_floor > .tabs > li {
            font-size: 15px;
            padding: 5px 8px;
        }
    }

    .dtm_rcfr {
        .sec {
            padding: 0;
        }

        .item {
            width: 24%;
            margin-right: 1%;
        }
    }
    .inputStyle{
        position: relative;
        .clearBtnWrap{
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            right: 0;
            width: 26px;
            &:after{
                content: '';
                position: absolute;
                top: 2px;
                bottom: 1px;
                right: 2px;
                width: 100%;
                // background-color: #fff;
                background-color: transparent;
                z-index: -1;
            }
            .clearBtn{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 14px;
                height: 14px;
                background-color: #999999;
                border-radius: 50%;
                &:before{
                    content: '';
                    width: 60%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:after{
                    content: '';
                    width: 60%;
                    height: 1px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
            }
        }
    }


}

// 人數艙等
.flight_international {
    margin-top: -12px;
    margin-left: -7px;

    .st_rcln {
        width: 290px;

        .dropdown-place-holder {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-size: 14px;
            .dropdown-label {

                line-height: 18px;
                height: 18px;
            }
        }
    }

    .con-people {
        margin-top: 10px;
        width: 180px;

        .num-people {
            line-height: 32px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .int_gpct.xin > .minus, .int_gpct.xin .add{
                color: #666;
            }
        }
    }

    .con-tooltip {
        margin-top: 10px;
        color: #24a07d;
    }


}

.st_rnls_descendant_content {
    .st_rnls_descendant_content_close {
        font-size: 27px;
        font-weight: bold;
        right: 8px;
        top: 0px;
        color: #444;
    }
}
