.calendar_compose {
    position: relative;
    .content {
        padding: 30px 10px 10px;
        border: solid 1px #ddd;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        .close_btn {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 0;
            z-index: 1;
            background-color: transparent;
            border: none;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            &:before,&:after{
                content: '';
                display: block;
                width: 20px;
                height: 3px;
                background-color: #444444;
                position: absolute;
                top: 14px;
                left: 5px;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
        .cy_rcln {
            display: inline-flex;
            position: relative;
            height: auto;
            background-color: transparent;
            padding: 0;
        }
        .calendar_box {
            border: solid 1px #e3e3e3;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        .date {
            min-width: 40px;
            height: 40px;
        }
        .year_month {
            .title {
                margin-bottom: 10px;
                color: #222;
            }
        }
        .date_box {
            width: 100%;
            .txt {
                margin-top: 0px;
            }
        }
        .week {
            height: auto;
            > span {
                font-size: 12px;
            }
        }
    }
    .today {
        // background-color: #eee;
        &:after {
            // content: '今天';
            // line-height: 1;
            // font-size: 12px;
        }
    }
    .active {
        .today:after {
            display: none;
        }
    }
}