//color
$color_01: #ff8b88;
$color_02: red;
$color_03: grey;
$color_04: #0077b3;
$color_05: #dddddd;
$color_06: #e10500;
$color_07: #999999;
$color_08: #ff615d;
$color_09: #24a07d;
$color_10: #e3e3e3;
$color_11: #222222;
$color_white: #fff;
$color_brown: #444;

.color_09 {
  color: $color_09;
}
.color_ocean {
  color: $color_04 !important;
}
.borderRed {
  border: 2px solid $color_01;
}

.activity {
  display: flex;
  flex-direction: column;
  overscroll-behavior-y: none;
  overflow: hidden;
  .bt_rcnb {
    border: 1px solid $color_05;
    background: #fff;
    color: $color_brown;
    width: 55px;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 14px;
    font-size: 14px;
    &.mbBtn {
      width: 96px;
      height: 32px;
      border-radius: 3px !important;
    }
    &.search {
      background-color: #e10500;
      color: white;
      font-size: 16px;
      left: 0;
      bottom: 0;
      width: 100%;
      &:hover {
          background-color: #bb0400;
      }
    }
    &:hover,
    &.active {
      border: 1px solid #ff615d;
      background-color: #ff615d;
      color: $color_white;
    }
    &.sureBtn {
      background-color: #e10500;
      color: white;
      border: 0;
    }
  } //button

  .outSideSearchInput {
    cursor: pointer;
    border: 1px solid #bbb;
    height: 50px;
    border-radius: 2px;
    line-height: 16px;
    font-weight: bold;
    width: 100%;
    padding: 15px 10px;
    &:focus {
      outline: none;
    }
    color: $color_04;
    &.insideSearchInput {
      border: solid 2px $color_01;
      border-radius: 1px;
      color: $color_04;
      input {
        color: red !important;
        text-shadow: 0px 0px 0px #495057;
      }
    }
  }
  .search_input_container_wraper {
    display: flex;
    .search_input_container {
      display: flex;
      position: relative;
      clear: both;
      flex: 1;
      height: 40px;
      font-size: 16px;
      margin-right: 10px;
      margin-left: 10px;
      .inputContainer {
        width: 100%;
        height: 40px;
        .crossIcon {
          position: absolute;
          right: 8px;
          top: 30%;
        }
      }
    }
    > .bt_rcnb {
      min-width: auto;
      min-height: auto;
      padding: 0;
      flex: 0 0 50px;
      height: 40px;
      line-height: 40px;
    }
    ._crossIcon {
      position: absolute;
      top: 6px;
      right: 4px;
      padding: 4px;
      background-color: #fff;
      cursor: pointer;
    }
  }

  .searchContainer {
    .act_rajx {
      position: absolute;
      top: 128px;
      right: 0;
      bottom: 0;
      left: 0;
    //   max-height: initial;
      border-top: 2px solid $color_10 !important;
      width: 100%;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
      border: none;
      padding: 0;
      .noMatchText {
        font-size: 14px;
        color: $color_09;
        height: 100vh;
        margin-left: 5px;
        .close {
          display: none;
        }
      }
      .section {
        .title {
          color: $color_11;
          font-weight: bold;
          font-size: 16px;
          border-top: none;
        }
        .item {
          display: block;
          padding: 5px 8px;
          // color: #444;
          line-height: 2;
          font-size: 14px;
          cursor: pointer;
          border-bottom: 1px solid #ddd;
        }
      }
      .m-place {
        margin-bottom: 10px;
        color: #24a07d;
        display: inline-block;
        font-size: 14px;
        margin-left: 15px;
        padding: 0;
        margin-top: 5px;
        .close {
          display: none;
        }
      }
    }
    .DtmRcfrContainer {
      width: 100%;
      height: calc(100vh - 130px);
      overflow: auto;
      background-color: #fff;
      .all_wrap {
        padding-left: 5px;
        padding-top: 10px;
        .cr_rcln {
          .indicator{
            border:solid 1px #bbb;
          }
          span {

            font-weight: 700;
            color: #222;
            font-size: 16px;
          }
        }
      }
      .ntb_rcln {
        > .ctns {
          > .panel {
            padding: 0px;
          }
        }
      }
      > .dtm_rcfr .item {
        line-height: 25px;
        width: 33.333333%;
      }
      .dtm_rcfr {
        .sec {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .Taiwantab {
      .dtm_rcfr {
        .tabs {
          display: none;
        }
      }
    }
  }
  .searchNotFoundTxt {
    margin: 0 0 10px 10px;
    color: #24a07d;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
  }
  .btn-wrap {
    margin-top: 30px;
  }
  .activity_links_wrap{
    margin-top: 70px;
    &.oneline{
      width: 540px;
      >div{
        display: inline-block;

      }
    }
    >div{
      width: 265px;
    }
    a{
      color: $color_11;
      font-size: 16px;
      padding-left: 16px;
      position: relative;
      &:before{
        content: '';
        width: 4px;
        height: 4px;
        background-color: #e3e3e3;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        top: 50%;
        margin-top: -2px;

      }
    }
  }

  /////////////////////////////////////--- M ---//////////////////////////////////////////////////////////////
  &.activityM {
    .outSideSearchInput {
        flex: auto;
    }
    .int_rcln > .int_rcln_input {
      display: flex;
      align-items: center;
      border: none;
      color: $color_04;
      font-weight: normal;
      &:not(input):empty:before {
        color: $color_07;
      }
    }
    .activity_links_wrap{
      margin-top: 20px;
    }
  }
  &M.custom {
		padding-top: 125px;
		background-color: #fff;
    .search_input-wrap {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			height: 125px;
    }
    .dtm_rcfr-row {
      display: flex;
      padding: 0 15px;
      .int_rcln_input {
        font-weight: normal;
        color: $color_04;
        border: 2px solid $color_01;
      }
      .clearBtnWrap {
        height: 98%;
      }
      .bt_rcnb {
        min-width: 50px;
        margin-left: 10px;
        border-radius: 5px;
      }
    }
    .searchNotFoundTxt {
      display: block;
      margin: 8px 0 10px 16px;
      font-size: 14px;
      color: $color_09;
		}
		.search_result {
			touch-action: manipulation;
			height: 100%;
			overflow-y: auto;
			.act_rajx {
				position: static;
				padding: 0 15px;
				border: none;
				border-top: 2px solid $color_10;
				box-shadow: none;
				.title {
					padding: 10px 8px;
					font-size: 16px;
					font-weight: bold;
					color: $color_11;
					border-top: none;
				}
				.item {
					padding: 13px 15px;
					font-size: 14px;
					color: $color_11;
					border-bottom: 1px solid $color_10;
				}
				.m-place, .noMatchText {
					padding: 13px 0;
					font-size: 14px;
					color: $color_09;
					.close {
						display: none;
					}
				}
			}
    }
    .cr_rcln{
      .indicator{
        border:solid 1px #bbb;
      }
    }
  }
  ////////////////////////////////////////PC/////////////////////////////////////////////////////////////////
  &.activePc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .bt_rcnb {
      &.search {
        // width: initial;
        width: auto;
        background-color: $color_06;
        margin: 0;
      }
      &:hover,
      &.active {
      }
      &.sureBtn {
      }
    } //button

    .outSideSearchInput {
      font-weight: normal !important;
      color: #0077b3;;
    }

    .search_input_container_wraper {
      position: relative;

      .search_input_container {
        .inputContainer {
          .crossIcon {
            position: absolute;
            right: 37px;
            top: 56%;
          }
        }
      }
      ._crossIcon {
        position: absolute;
        top: 18px;
        right: 2px;
        padding: 10px;
        background-color: #fff;
        cursor: pointer;
      }
    }
    .searchContainer {
      .actrajaxWraper {
        position: absolute;
        left: 10px;
        right: 10px;
        z-index: 1;
      }
      .cross {
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      .act_rajx {
        // position: initial;
        position: static;
        border-top: none !important;
        width: auto;
        margin-top: 0;
        border: solid 1px $color_05;
        display: block;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        padding: 5px 20px;
        .noMatchText {
          width: auto;
          padding: 0 10px 5px;
          height: auto;
          .close {
            display: block;
            right: 8px;
            top: 9px;
            border: none;

            color: black;
          }
        }
        .section {
          width: 600px;
          .title {
            border-top: none;
          }
          .item {
            border-bottom: 1px solid #ddd;
          }
        }
        .m-place {
          margin-bottom: 0;
          margin-left: 0;
          .close {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 6px;
            z-index: 15;
            color: transparent;
            cursor: pointer;
            border:none;
            &:before,&:after{
                content: '';
                display: block;
                width: 20px;
                height: 3px;
                background-color: #444444;
                position: absolute;
                top: 14px;
                left: 5px;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
          }
        }
      }

      .DtmRcfrContainer {
        position: absolute;
        width: 660px;
        padding: 16px 14px 0;
        border: 1px solid rgba(153, 153, 153, 0.7);
        background-color: #fff;
        z-index: 1;
        height: auto;
        .ntb_rcln.one_floor > .tabs > li {
          padding: 12px 12px;
        }
      }
      .DtmRcfrCloseBtn {
          position: absolute;
          top: 0;
          right: 0;
          padding: 10px;
          cursor: pointer;
          svg {
              width: 16px;
              height: 16px;
          }
      }

      .Taiwantab {
        .dtm_rcfr {
          .tabs {
            display: none;
          }
        }
      }
    }
    .btn-wrap {
      position: absolute;
      right: 10px;
      top: 82px;

    }

  }
}
